body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  background: #eee;
  color: #111;
}

body * {
  transition: all 0.300s ease-in-out;
}

.container {
  background-color: #fff;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 54px -11px rgba(0,0,0, 0.75);
  -moz-box-shadow: 0px 10px 54px -11px rgba(0,0,0, 0.75);
  box-shadow: 0px 10px 54px -11px rgba(0,0,0, 0.75);
}

/* NAVIGATION BAR */

nav {
  position: fixed;
  z-index: 99;
  background: #fff;
  z-index: 99;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;  
  padding: 12px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  -webkit-box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
}


nav ul {
  width: 100%;
  display: grid;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
} 

nav ul:first-of-type{
  grid-template-columns: 1fr;
}
nav ul:first-of-type li{
  font-size: 1.4rem;
  font-weight: bold;
  text-indent: 30px;
}
nav ul:first-of-type li span {
  font-weight: 500;
  color: #444;
}

nav ul:last-of-type{
  grid-template-columns: repeat(3, 1fr);

}


nav ul li a{
  color:#111;
  text-decoration: none; 
  font-weight: bold;
  display: block;

}


/* HEADER */

header {
  background: url("./images/photo-1525184648845-66cbe3b6c59c.jpg");
  background-size: 100%;
  height: 700px;
  background-position: center;
  position: relative;
 
}

header div.head {
  position: relative;
  z-index: 2;
  display: grid;
  width: 70%;
  grid-template-columns: repeat(2,1fr);
  margin: 0 auto;
  padding-top: 12%;
  align-items: center;
  
}

header div.head  {
  color: #222;

}


header div.head h1 {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 0px;
  margin: 0;
  letter-spacing: 4px;
  border-right: 2px solid #111;
}

header div.head p {
  padding-left: 30px;
}


.contact {
 background: rgb(0, 99, 248);
 display: block;
 color: #fff;
 font-weight: bold;
 width: 50%;
 margin: 0 auto;
 text-align: center;
 padding: 12px;
 border-radius: 10px;
 text-decoration: none; 
 -webkit-box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
 box-shadow: 0px 10px 54px -11px rgba(0,0,0,0.75);
}

/* MAIN */
main {
  position: relative;
  z-index: 3;
  overflow: hidden;
}

main section {
  width: 70%;
  padding: 90px 0px;
  margin: 50px auto 150px auto;
}


@media (max-width:1310px) and (min-width:1100px) {
    
  header div.head {
    width: 75%;
    padding-top: 190px;
  }
  header div.head h1 {
    font-size: 4rem;
    
  }
}



@media (max-width:1099px) and (min-width:850px) {
header {
  height: 350px;
  background-position: bottom;
}

header div.head {
  width: 75%;
  padding-top: 400px;
  grid-template-columns: 1fr;
  
}
header div.head h1 {
  font-size: 4rem;
}
}


@media (max-width:849px) and (min-width:600px) {
header {
height: 440px;

}


header div.head {
  width: 75%;
  padding-top: 120px;
  grid-template-columns: 1fr;
}
header div.head h1 {
  font-size: 3rem;
  
}
}


@media (max-width:599px) and (min-width:0px) {
nav {
 text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

nav ul {
  margin-bottom: 10px;
  
}
nav ul:first-of-type {
  border-bottom:1px solid #111;
  padding-bottom: 10px; 
}

nav ul:last-of-type li{
 text-align: center;
 width: 100%;
 padding-top: 10px;
 
}

header {
   
  background-size: 160%;
  height: 270px;
  position: relative;
 
}

header div.head {
  width: 75%;
  grid-template-columns: 1fr;
  padding-top: 260px;
  
}
header div.head h1 {
  font-size: 2.3rem;
  border: none;
}

header div.head p {
  padding-left: 0px;
}


}